p{
    color:red;
    font-size:22pt;
}

p#gruby_gajewski{
    color:green;
    font-size:17pt;
    font-weight:bold;
}

#dlawszystkich_gajewski{
    color:yellow;
    font-size:10pt;
    font-family:Arial;
}