p#pogrubienie_gajewski{
    font-size:33px;
    color:#9a60cf;
}
p#pochylona_gajewski{
    font-size:38pt;
    color:#fec46b;
}
p#index_gorny_gajewski{
    font-size:1,3cm;
    color:#ae921b;
}
p#index_dolny_gajewski{
    font-size:2,1cm;
    color: rgb(27%,97%,89%);
}
p#mono_gajewski{
    font-size:43px;
    color:#2ee26b;
}
p#powiekszenie_gajewski{
    color: #68429d;
}
p#pomniejszenie_gajewski{
    color: rgb(80%, 65%, 22%);
}